.cv-container header {
  min-width: 100%;
  font-size: 4rem;
  background-color: rgba(0, 0, 221, 0.526);
  padding: 10px;
  color: white;
}

.cv-container h1 {
  color: rgba(0, 0, 221, 0.526);
  width: 100%;
  border-bottom: black solid 1px;
  padding-bottom: 0.5rem;
}

.cv-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.contact,
.jobs,
.education-section,
.skills-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cv-value {
  color: rgb(101, 101, 101);
}
