.contact-card,
.job-card,
.education-card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-width: 100%;
  background-color: rgba(128, 128, 128, 0.165);
  gap: 1rem;
  padding: 0.5rem;
}

.job-card h2 {
  font-size: 1.5rem;
}
