.cv-container header {
  min-width: 100%;
  font-size: 4rem;
  background-color: blue;
  padding: 10px;
  color: white;
}

.cv-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.contact,
.jobs,
.education-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
