.contact-card,
.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-width: 100%;
  gap: 1rem;
  padding: 0.5rem 0px 0px 0.5rem;
}

.about-me {
  padding: 1.5rem 0px 1rem 0.5rem;
}

.card h2 {
  font-size: 1.5rem;
}

.date-range {
  font-size: 1.2rem;
  color: grey;
}

.skill {
  list-style: circle;
}
