.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  margin-top: 1rem;
}

.section-container {
  text-align: center;
  border-bottom: black solid 1px;
  padding: 1rem 0px 1rem 0px;
}

.experience,
.education,
.general-info,
.skills {
  background-color: rgba(196, 196, 196, 0.209);
  margin: 2rem 0px 10px 0px;
}

.photo-upload {
  display: flex;
  justify-items: left;
  align-items: center;
  gap: 10px;
}

.file-upload {
  width: fit-content;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  min-height: fit-content;
}

.form-value {
  color: rgb(101, 101, 101);
}
