.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.section-container {
  text-align: center;
}

.experience,
.education {
  background-color: rgba(128, 128, 128, 0.386);
  margin: 10px 0px 10px 0px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}
